[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
mkdocs = ">1.0.0"
mkdocs-material = ">3.0.0"
markdown-fenced-code-tabs = "*"
flask = "*"

[requires]

python_version = "3.6"
